{%extends '/survey/fields/_base.html' %}
{% block opening %}<span class="survey_field" id="rate_{{field_id}}">{%endblock%}
{% block closing %}</span>{%endblock%}

{%block main%}
    <a class="survey" data-fancybox-type="iframe" href="/view_summary/{{survey_key}}/{{field_type}}/{{field_id}}">
            {% for i in range(1,(field.n or 5)+1) %}
            <i id="rate_{{field_id}}_{{i}}" class="{% if field.icon %}icon-{{field.icon}}{%else%}icon-star{%endif%} {%if summary.average > i-1%}yellow{%endif%}"></i>
        {%endfor%}
        &oslash;{{'%0.2g'| format(summary.average)}}
    </a>
{%endblock%}
