
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap/assets/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
    
    <title>{%block title %}{%endblock%}</title>

    <!-- Bootstrap core CSS -->

    <script src="/static/bootstrap/assets/js/jquery.js"></script>

    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/justified_nav.css" rel="stylesheet">

    <script src="/static/bootstrap/js/scrollspy.js"></script>
    <script src="/static/bootstrap/js/tooltip.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>


    <!--requirements for survey-->
    <script src="/static/bootstrap/js/popover.js"></script>

    <link href="/static/feature_styles.css" rel="stylesheet">
    <script src="/static/feedback.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->


  </head>
  <body data-spy="scroll" onload="{%block body_onload%}{%endblock%}">

    <div class="container">

      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Instant Feedback</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="/">Welcome</a></li>
          <li><a href="/index">My Surveys</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
          <li><a href="/new">New Survey</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div id="content">
    {%block content %}{%endblock%}
    </div>

        <!-- Site footer -->
      <div class="footer">
        <p>&copy; 7scientists 2013, {{request.session}}</p>
      </div>

      <script>
      var survey_key = 'my_first_survey';
      var survey_server_url = '';
      </script>

    </div>
  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</html>
