
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bootstrap/assets/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
    
    <title>{%block title %}{%endblock%}</title>

    <!-- Bootstrap core CSS --> 

    <script src="/static/bootstrap/assets/js/jquery.js"></script>
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="/static/justified_nav.css" rel="stylesheet">

    <link href="/static/feedback.css" rel="stylesheet">
    <script src="/static/feedback.js"></script>

    {%block head_extra %}{%endblock%}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->


  </head>
  <body data-spy="scroll" {%block body_onload%}onload="initialize_elements();"{%endblock%}>

    <div class="container">

      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Instant Feedback</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="/index"><i class="icon-list-ul"></i> Your Surveys</a></li>
          <li><a href="/new"><i class="icon-bullhorn"></i> New Survey</a></li>
          <li><a class="active" href="/example"><i class="icon-smile"></i> Example</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
          <li><a href="/login_as/{{request.session}}"><i class="icon-user"></i> admin link</a></li>
          <li><a href="/logout"><i class="icon-signout"></i> logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div id="content">
    {%block content %}{%endblock%}
    </div>

        <!-- Site footer -->
      <div class="footer">
        <p style="text-align:center">&copy; Andreas Dewes 2013 // Langbehnstr. 15 // 22761 Hamburg // +49-(0)163-1701-411</p>
        <p style="text-align:center; margin:40px;"><img src="/static/images/german_flag.png" /></p>
        <p>
        This site uses <a href="http://en.wikipedia.org/wiki/HTTP_cookie">cookies</a> to identify users. Apart from these cookies we do not store any personal information about our visitors. I do not accept any responsibility for the content of external websites that this website might link to.
        </p>
        <p class="text-warning">This service is currently in BETA, so use it at your own risk. I do not accept any responsibility or liability for any loss or damage arising from the use of this service.</p>
      </div>

    </div>
  </body>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</html>
