{%extends '/survey/fields/_base.html' %}

{%block main%}
  {% if not 'field_type' in field or field.field_type == 'input' %}
  <input name="value" value="{%if value%}{{value}}{%else%}{{field.default}}{%endif%}" onchange="update_response('input','{{field_id}}',this.value);return false;" />
  {%elif field.field_type == 'textarea' %}
  <textarea rows=4 name="value" onchange="update_response('input','{{field_id}}',this.value);return false;">{%if value%}{{value}}{%else%}{{field.default}}{%endif%}</textarea>
  {%endif%}{% if value %} <i class="icon-ok green"></i>{%endif%}
{%endblock%}
