{% extends "/survey/fields/edit.html" %}

{%block content%}
<h1>Edit Input field</h1>
<form action="/edit_field/{{survey_key}}/{{field_type}}/{{field_id}}" method="POST" role="form">
  <div class="form-group">
    <label for="default">Default Value</label>
    <input value="{{field.default}}" name="default" class="form-control" id="default" placeholder="Enter description">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

  {% include '/survey/fields/_standard_edit_fields.html' %}

</form>

{%endblock%}