{%extends '_field.html' %}
{% block opening %}<span class="survey_field" id="check_{{field_id}}">{%endblock%}
{% block closing %}</span>{%endblock%}

{%block main%}
    {% if show_summary %}
    <span class="summary">
        <i class="icon-ok green"></i> {{summary}}
    </span>
    {%else%}
        {%if value == 1 %}
            <a href="/update_response/vote/{{field_id}}/?value=0" onclick="update_response('check','{{field_id}}',0);return false;" title="undo check"><i class="icon-ok green"></i></a>
        {% else %}
            <a href="/update_response/vote/{{field_id}}/?value=1" onclick="update_response('check','{{field_id}}',1);return false;" title="check"><i class="icon-ok"></i></a>
        {% endif %}
    {%endif%}
{%endblock%}
