{%extends '_field.html' %}
{% block opening %}<div class="survey_field" id="input_{{field_id}}" style="display:inline;">{%endblock%}
{% block closing %}</div>{%endblock%}

{%block main%}
  {%if show_summary %}
  <a rel="popover" 
      data-content="<div class=answers>
          <ul>
          {% for value in summary %}
              <li><strong>{{value.1}}</strong>: {{value.0}} </li>
          {%endfor%}
          </ul>
      </div>
      " 
      data-html="true" data-trigger="hover" data-original-title="Answers" class="summary">{%if summary %}(see answers){%else%}(no answers){%endif%}
  </a>
  {%else%}
      <form id="vote_form_{{field_id}}" action="/update_response/input/{{field_id}}" method="POST" onsubmit="update_response('input','{{field_id}}',document.getElementById('vote_form_{{field_id}}').elements['value'].value);return false;" >
      <input {%if width%}style="width:{{width}}px;"{%endif%} name="value" value="{%if value%}{{value}}{%else%}{{field.default}}{%endif%}" onchange="update_response('input','{{field_id}}',document.getElementById('vote_form_{{field_id}}').elements['value'].value);return false;" />
      </form>
  {%endif%}
{%endblock%}

{%block edit_fields %}
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-4 control-label">Default value</label>
    <div class="col-lg-8">
      <input name="default" value="{{field.default}}" class="form-control" id="inputPassword1" placeholder="default value" />
    </div>
  </div>
{%endblock%}

