{%extends '_field.html' %}
{% block opening %}<span class="survey_field" id="rate_{{field_id}}">{%endblock%}
{% block closing %}</span>{%endblock%}

{%block main%}
    {%if show_summary %}
    <a rel="popover"
        data-content="<div class=answers>
            {% for i in [5,4,3,2,1] %}
                <strong>{%if i in summary.distribution%}{{summary.distribution.get(i)}}{%else%}0{%endif%} x {% for j in range(1,i+1) %}<i class='icon-star yellow'></i>{%endfor%}</strong> <br />
            {%endfor%}
        </div>
        " 
        data-html="true" data-trigger="hover" data-original-title="Distribution" class="summary">
        {% for i in [1,2,3,4,5] %}
            <i id="rate_{{field_id}}_{{i}}" class="{% if summary.average > i-1 and summary.average < i %}icon-star-half-full{%else%}icon-star{%endif%} {%if summary.average > i-1%}yellow{%endif%}"></i>
        {%endfor%}
        &oslash;{{'%0.2g'| format(summary.average)}}
    </a>
    {% else %}
        {% for i in [1,2,3,4,5] %}
            <a onmouseout="mouseout_star('{{field_id}}',{{i}},{{value}})" onmouseover="mouseover_star('{{field_id}}',{{i}},{{value}})" href="/update_response/rate/{{field_id}}/?value={{i}}" onclick="update_response('rate','{{field_id}}',{{i}});return false;"><i id="rate_{{field_id}}_{{i}}" class="icon-star {%if value >= i%}yellow{%endif%}"></i></a>
        {%endfor%}
    {%endif%}
{%endblock%}
