{%if admin %}
<div id="scale_{{id}}" class="scale">
    <div id="scale_{{id}}_slider" class="slider"></div>
    <div id="scale_{{id}}_slider_reference" class="slider_reference"></div>
    <div id="scale_{{id}}_gradient" class="gradient">&nbsp;</div>
</div>
{% else %}
<div id="scale_{{id}}" class="scale">
    <div id="scale_{{id}}_slider" class="slider"></div>
    <div id="scale_{{id}}_slider_reference" class="slider_reference"></div>
    <div id="scale_{{id}}_gradient" class="gradient">&nbsp;</div>
</div>
{%endif%}
