{%extends '_field.html' %}
{% block opening %}<span class="survey_field" id="select_{{field_id}}">{%endblock%}
{% block closing %}</span>{%endblock%}

{%block main%}
    {% if show_summary %}
      <a rel="popover" 
          data-content="<div class=answers>
              <ul>
              {% for value in summary %}
                  <li><strong>{{value.1}}</strong>: {{value.0}} </li>
              {%endfor%}
              </ul>
          </div>
          " 
          data-html="true" data-trigger="hover" data-original-title="Answers" class="summary">{%if summary %}(see answers){%else%}(no answers){%endif%}
      </a>
    {%else%}
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {%if value.choice %}{{value.choice}}{%else%}(please choose){%endif%}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          {% for choice in field.choices %}
            <li><a href="#" onclick="update_response('select','{{field_id}}',{{choice.0}});return false;" >{{choice.1}}</a></li>
          {%endfor%}
          </ul>
        </div>
    {%endif%}
{%endblock%}

{%block edit_fields %}
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-4 control-label">Choices</label>
    <div class="col-lg-8">
      <textarea name="choices" rows=5 class="form-control" id="inputPassword1" placeholder="(enter one choice per line)">{{field.choices_str}}</textarea>
    </div>
  </div>
{%endblock%}

