{%extends '_field.html' %}
{% block opening %}<span class="survey_field" id="vote_{{field_id}}">{%endblock%}
{% block closing %}</span>{%endblock%}

{%block main%}
    {% if show_summary %}
    <span class="summary">
        <i class="icon-thumbs-up green"></i> {{summary.up}} <i class="icon-thumbs-down red"></i> {{summary.down}}
    </span>
    {%else%}
        {%if value == 1 %}
            <a href="/update_response/vote/{{field_id}}/?value=0" onclick="update_response('vote','{{field_id}}',0);return false;" title="undo upvote"><i class="icon-thumbs-up green"></i></a>
        {%elif value == -1 %}   
            <a href="/update_response/vote/{{field_id}}/?value=0" onclick="update_response('vote','{{field_id}}',0);return false;" title="undo downvote"><i class="icon-thumbs-down red"></i></a>
        {% else %}
            <a href="/update_response/vote/{{field_id}}/?value=1" onclick="update_response('vote','{{field_id}}',1);return false;" title="thumbs up"><i class="icon-thumbs-up"></i></a> /
            <a href="/update_response/vote/{{field_id}}/?value=-1" onclick="update_response('vote','{{field_id}}',-1);return false;" title="thumbs down"><i class="icon-thumbs-down"></i></a>
        {% endif %}
    {%endif%}
{%endblock%}

