{%extends 'layouts/base.html' %}

{%block head_extra %}
<link rel="stylesheet" type="text/css" href="/feedback.css"/>
<script src="/feedback.js"></script>
<script>
var survey_key = '{{survey.key}}';
</script>
{%endblock%}

{%block content %}
      <!-- Jumbotron -->
      <div class="row widget">
        <div class="col-md-12">
        <h1>Hi there!</h1>
        <p>
          This tool allows you to integrate simple, intuitive feedback elements directly into your own website. You do this by simply pasting a small code snippet into your website's HTML and adding elements in form of simple <i>SPAN</i> tags wherever you want to collect feedback. Like this, you can collect user feedback without interrupting the user experience. 
        </p>
        <p style="text-align:center; font-size:2em">
          How much do you like this idea? <br/><span class="survey_rate" id="how_much_do_you_like_this"></span>
        </p>
        <p>
          As a bonus, since the feedback elements are realized using very basic HTML they automatically adapt to your page's CSS and integrate seamlessly with the rest of your user experience.
        </p>
        <h2>Available elements</h2>
        <p>
          You can choose between five different feedback elements:
        </p>

        <table class="table table-striped" style="font-size:1.4em">
            <thead>
            <tr>
                <th style="text-align:right">
                Feedback Action
                </th>
                <th>
                Example
                </th>
            </tr>
            </thead>
            <tr>
                <td style="text-align:right">Vote</td>
                <td><span class="survey_vote" id="widgets_vote"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">Check</td>
                <td><span class="survey_check" id="widgets_check"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">Rate</td>
                <td><span class="survey_rate" id="widgets_rate"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">Write</td>
                <td><span class="survey_input" id="widgets_input"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">Choose</td>
                <td><span class="survey_select" id="widgets_select"></span></td>
            </tr>
        </table>

        <p>As you've maybe noticed, if you're logged in as admin you can click on the <sup><i class="icon-edit"></i></sup> icon next to each element and modify it in place. In addition, you can get a full results summary by just clicking on the "toggle results" link in the admin menu above. Try it out!</p>

        <p class="feedback" style="text-align:right; font-size:1.2em; color:#777;">
          How helpful was this?<span class="survey_rate" id="was_this_helpful"></span>
        </p>
        </div>
      </div>
{%endblock%}