{% extends "layouts/base.html" %}
{% block title %}Survey{% endblock %}

{%block head_extra %}
<script>
var survey_key = 'feedback_welcome';
</script>
{%endblock%}

{%block content %}

      <!-- Jumbotron -->
      <div class="jumbotron" id="welcome">
        <h1>Get feedback.</h1>
        <p>Integrate simple, non-obstrusive feedback elements directly into your website and collect valuable feedback from your visitors. Get started in minutes, no signup required!</p>
      </div>
      <div class="features">
        <h1>Features</h1>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-heart" style="color:#fa0"></i> Beautiful, intuitive widgets.</h2>
                <p class="lead">
                    Integrate <strong>five</strong> different types of feedback elements into your website. All of them are unobstrusive and integrate perfectly with the design of your website. User input is processed on-the-fly, no form submitting required.
                </p>
                <table class="table table-striped" style="font-size:1.4em">
                    <thead>
                    <tr>
                        <th style="text-align:right">
                        Feedback Action
                        </th>
                        <th>
                        Example
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td style="text-align:right">Vote</td>
                        <td><span class="survey_vote" id="widgets_vote"></span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Check</td>
                        <td><span class="survey_check" id="widgets_check"></span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Rate</td>
                        <td><span class="survey_rate" id="widgets_rate"></span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Write</td>
                        <td><span class="survey_input" id="widgets_input"></span></td>
                    </tr>
                    <tr>
                        <td style="text-align:right">Choose</td>
                        <td><span class="survey_select" id="widgets_select"></span></td>
                    </tr>
                </table>

                <p class="feedback">
                    <span class="survey_rate" id="features_widgets_like_2"></span>
                </p>
            </div>
          </div>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-rocket" style="color:#7f7"></i> Up &amp; running in minutes</h2>
                <p class="lead">
                    Creating and managing surveys is super-simple. No signup or filling in of complicated forms required. Just <a href="/new">create a new survey</a> and follow the step-to-step guide to integrate it into your website.
                </p>
                <p class="feedback">
                    <span class="survey_rate" id="features_fast"></span>
                </p>
            </div>
          </div>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-bar-chart" style="color:#66f"></i> Inline editing &amp; results summary.</h2>
                <p>
                    When your survey is running, you can edit elements directly from the website in which they're integrated. Likewise, you can also get a result summary for each element. Simple &amp; direct.
                </p>
                <p class="feedback">
                    <span class="survey_rate" id="features_view_results_online"></span>
                </p>
            </div>
          </div>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-eye-close" style="color:#66f"></i> Respects the privacy of you and your visitors.</h2>
                <p>
                    Respecting your privacy and ensuring data security is of utmost importance to us. We do not record any personal information about your visitors and only store the feedback they provide you with. We operate our business under the <strong>German Federal Data Protection Act</strong> (Bundesdatenschutzgesetz), one of the strictest data protection laws in the world.
                </p>
                <p class="feedback">
                    <span class="survey_rate" id="features_view_results_online"></span>
                </p>
            </div>
          </div>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-ok" style="color:#f6f"></i> Compatible with all modern browsers.</h2>
                <p>
                    The survey elements are compatible with most modern browsers like Firefox, Chrome, Safari and even Internet Explorer (>=IE8).<br /> If you nevertheless encouter any problems when using this tool, please let us know and we'll do our best to help you:
		</p>
		<table style="font-size:1.4em" class="table table-striped">
		<tr>
		  <td style="text-align:right">Your e-mail</td>
		  <td><span class="survey_input" id="your_email"></span></td>
		</tr>
		<tr>
		  <td style="text-align:right">Describe your problem</td>
		  <td><span class="survey_input" id="your_problem"></span></td>
		</tr>
		</table>
                
                <p class="feedback">
                    <span class="survey_rate" id="features_compatibility"></span>
                </p>
            </div>
          </div>

          <div class="row widget">
            <div class="col-md-12">
                <h2><i class="icon-question-sign" style="color:#ff6"></i> Any feedback?</h2>
                <p>
                    Of course we would totally love to get your feedback on our product, so feel free to provide us with your opinion:
                </p>

                    <table class="table table-striped" style="font-size:1.4em">
                        <tr>
                            <td style="text-align:right">Do you like what we are offering?</td>
                            <td><span class="survey_vote" id="product_like"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Would you consider using it on your own website?</td>
                            <td><span class="survey_vote" id="product_use_on_own_website"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Would you consider paying for this product?</td>
                            <td><span class="survey_vote" id="product_will_pay_for_it"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">How much do you like the design of this website?</td>
                            <td><span class="survey_rate" id="product_website_design"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Anything we can improve?</td>
                            <td><span class="survey_input" id="product_improve"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">How did you find this site?</td>
                            <td><span class="survey_select" id="product_source"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align:right">Anything else you wanna tell us?</td>
                            <td><span class="survey_input" id="product_input"></span></td>
                        </tr>
                    </table>
            </div>
          </div>
      </div>

{%endblock%}
