{% extends "/survey/fields/edit.html" %}

{%block title%}Edit Check Field{%endblock%}

{%block content%}
<form action="/edit_field/{{survey_key}}/{{field_type}}/{{field_id}}" method="POST" role="form">
  <div class="form-group">
    <label for="description">Icon</label><sup>*</sup>
    <input value="{{field.icon}}" name="icon" class="form-control" id="icon" placeholder="arrow">
  </div>

  <p><sup>*</sup>You can put any valid font-awesome icon (just omit the "icon-" part). See <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">here</a> for a complete list of all possible icons. Have fun <i class="icon-smile"></i></p>

  <button type="submit" class="btn btn-default">Submit</button>

  {% include '/survey/fields/_standard_edit_fields.html' %}
</form>

{%endblock%}