#survey_menu
{
  position:fixed !important;
  top:0;
  left:0;
  z-index:9999;
  width:100%;
  height:40px;
  padding:6px;
  overflow:hidden;
  background:#eee;
  border:none;
  font-size:14px;
  color:#000;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}

#survey_overlay
{
  position:fixed !important;
  opacity: 0.5;
  border:4px dotted #aaa;
}

#survey_menu a,
#survey_menu a:hover,
#survey_menu a:active
{ 
  color:#a00;
  font-size:14px;
}

#survey_menu ul
{
  margin:0;
  padding:0 0 0 10px;
  background:none;
}

#survey_menu ul li
{
  display:inline;
  list-style:none;
  margin-right:10px;
}


.survey_field
{
  white-space: nowrap;
}

.survey_input a,
.survey_rate a,
.survey_select a,
.survey_check a,
.survey_vote a
{
  text-decoration:none !important;
}

.survey_rate a{
  padding-right:4px !important;
}

.survey_summary
{
    background:#eee;
    padding:4px;
    margin:4px;
    border-radius:5px;
}

.survey_field .yellow
{
    color:#fa0;
}

.survey_field .green
{
  color:#0a0;
}

.survey_field .red
{
  color:#a00;
}

.survey_field i
{
  color:#aaa;
}
