{% extends "layouts/base.html" %}
{% block title %}Survey Details - {{survey.name}} {% endblock %}

{%block content %}

      <!-- Jumbotron -->
      <div class="row widget">
        <div class="col-md-12">
            <h2>Survey Details - {{survey.name}}</h2>
            <a href="/export_responses/{{survey.key}}">export results as JSON</a> // <a href="/summary/{{survey.key}}">summary</a> // <a href="/fields/{{survey.key}}">fields</a>  // <a href="/delete/{{survey.key}}"><i class="icon-trash"></i> delete</a>
            <table class="table table-responsive table-striped table-bordered">
            <thead>
            <tr>
              <th>
              Name
              </th>
              <th>
              Value
              </th>
            </tr>
            </thead>
            <tr>
              <td>
                Admin URL
              </td>
              <td>
                <input class="form-control" value="http://{{server_name}}/login_as/{{survey.user.session}}" />
              </td>
            </tr>
            <tr>
              <td>
                Survey key
              </td>
              <td>
                {{survey.key}}
              </td>
            </tr>
            <tr>
            <td>
            Respondents
            </td>
            <td>
            {{responses}}
            </td>
            </tr>
            <tr>
            <td>Survey Links <br />(for your convenience)</td>
            <td>
            <p>{%if survey.survey_url %}<a href="{{survey.survey_url}}">view survey online</a>{%else%}No URL given, please provide:{%endif%}
            </p>
            <form action="/set_survey_url/{{survey.key}}" method="POST">
              <input name="survey_url" class="form-control" style="width:200px; display:inline;" value="{{survey.survey_url}}" />
              <button type="submit" class="btn">Update URL</button>
            </form>
 
            </td>
            </tr>
            </table>
            {%if False %}
            <p>Access: {%if survey.authorized_keys_only %}authorized session keys only{%else%}open for everyone{%endif%} <a href="/toogle_authorized_keys_only/{{survey.key}}">(toggle)</a></p>
            <p>Authorized keys: {{survey.authorized_keys|length}} {%if survey.authorized_keys|length < 100 %}{{survey.authorized_keys|join(", ")}}{%endif%} <a href="/clear_authorized_keys/{{survey.key}}">(clear)</a></p>
            <p>
            <form action="/authorize_session_key/{{survey.key}}" method="GET">
              <input name="session_key" value="" />
              <button type="submit" class="btn">Add authorized key</button>
            </form>
            </p>
            {%endif%}
        </div>
      </div>
      <div class="row widget">
        <div class="col-md-12">
        <h1>How to use the survey</h1>
        <h3><i class="icon-paste"></i> Copy &amp; Paste Code</h3>
        <p>Just take the following code and put it into the <strong>HEAD</strong> section of your HTML file:</p>
        <pre><code>&lt;link href="http://{{server_name}}/static/feedback.css" rel="stylesheet"&gt;
&lt;script src="http://{{server_name}}/static/feedback.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
var survey_key = '{{survey.key}}';
&lt;/script&gt;</code></pre>

        <h3><i class="icon-edit"></i> Add feedback elements</h3>
        <p>
          Choose from our library of elements and add them to your website by putting a corresponding &lt;span&gt; tag in your code. Example for a "vote" element:
          <pre><code>&lt;span class="survey_vote" id="unique_id_for_element"&gt;&lt;/span&gt;</code></pre>
          The <i>id</i> you choose for your elements must be unique for the corrsponding class of elements. Here is a full list of supported feedback elements:

          <table class="table table-striped" style="font-size:1.4em">
            <thead>
            <tr>
                <th style="text-align:right">
                Element type
                </th>
                <th>
                CSS class
                </th>
            </tr>
            </thead>
            <tr>
                <td style="text-align:right">Vote</td>
                <td><pre><code>&lt;span class="survey_vote" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Check</td>
                <td><pre><code>&lt;span class="survey_check" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Rate</td>
                <td><pre><code>&lt;span class="survey_rate" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Input</td>
                <td><pre><code>&lt;span class="survey_input" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Select</td>
                <td><pre><code>&lt;span class="survey_select" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
        </table>

        </p>
        <h3><i class="icon-ok"></i> Open the survey as admin</h3>
        <p>
        To initialize and activate the feedback elements, you need to visit the website in which they are embedded once while being logged in as survey admin.
        </p>
        <h3><i class="icon-edit"></i> Customize elements on-the-fly</h3>
        <p>
        When opening the website while being logged in you will be able to edit all elements in-place. You can add descriptions, change default values or add choices.
        </p>
        </div>
      </div>

      <div class="row widget">
        <div class="col-md-12">
        <h2>Advanced</h2>
        
        <h3>Make sure the initialization code runs</h3>

        <p>
        <span class="code">feedback.js</span> will call a function called <span class="code">initialize_elements()</span> when the body of your document gets loaded. So, if you overwrite the <span class="code">onload</span> function of the <span class="code">body</span> element, make sure to call <span class="code">initialize_elements()</span> by hand.
        </p>


        </div>
      </div>
{%endblock%}