{% extends "layouts/base.html" %}
{% block title %}Survey Details - {{survey.name}} {% endblock %}

{%block content %}

      <!-- Jumbotron -->
      <div class="row widget">
        <div class="col-md-12">
            <h2>Survey Details - {{survey.name}}</h2>
            <a href="/export_responses/{{survey.key}}">export results as JSON</a> // <a href="/summary/{{survey.key}}">fields</a>  // <a href="/delete/{{survey.key}}"><i class="icon-trash"></i> delete</a>
            <table class="table table-responsive table-striped table-bordered">
            <thead>
            <tr>
              <th>
              Name
              </th>
              <th>
              Value
              </th>
            </tr>
            </thead>
            <tr>
              <td>
                Admin URL
              </td>
              <td>
                <input class="form-control" value="{{server_url}}/login_as/{{survey.user.session}}" />
              </td>
            </tr>
            <tr>
              <td>
                Survey key
              </td>
              <td>
                {{survey.key}}
              </td>
            </tr>
            <tr>
            <td>
            Respondents
            </td>
            <td>
            {{responses}} (<a href="/clear_responses/{{survey.key}}">clear responses</a>)
            </td>
            </tr>
            <tr>
            <td>Survey URL <br />(for your convenience)</td>
            <td>
            {%if survey.survey_url %}<a href="{{survey.survey_url}}">view survey online</a>{%else%}No URL given, please provide:{%endif%}
            <form class="form-inline" action="/set_survey_url/{{survey.key}}" method="POST">
              <input name="survey_url" class="form-control" style="width:200px;" value="{{survey.survey_url}}" />
              <button type="submit" class="btn">Update URL</button>
            </form>
 
            </td>
            </tr>
            <tr>
            <td colspan=2><h2>Access Management</h2><a href="#access_management">How does this work?</a></td></tr>
            <tr><td>Permissions</td><td>{%if survey.authorized_keys_only %}authorized keys only{%else%}open for everyone{%endif%} <a href="/toogle_authorized_keys_only/{{survey.key}}">(toggle)</a></td></tr>
            {% if survey.authorized_keys_only %}
            <tr><td>Authorized keys<br /><a href="/clear_authorized_keys/{{survey.key}}">(clear all keys)</a></td><td>{{survey.authorized_keys|length}} keys: <ul>{%for key in survey.authorized_keys %}<li>{{key}} (<a href="/remove_authorized_key/{{survey.key}}?response_key={{key}}">remove</a>)</li>{%endfor%}</ul> 
            <form class="form-inline" action="/authorize_key/{{survey.key}}" method="GET">
              <input class="form-control" style="width:200px" name="response_key" value="" />
              <button type="submit" class="btn">Add authorized key</button>
            </form>
            </td></tr>  
            {%endif%}
            </table>
        </div>
      </div>
      <div class="row widget">
        <div class="col-md-12">
        <h1>How to use the survey</h1>
        <h3><i class="icon-paste"></i> Copy &amp; Paste Code</h3>
        <p>Just take the following code and put it into the <strong>HEAD</strong> section of your HTML file:</p>
        <pre><code>&lt;script src="{{server_url}}/feedback.js"&gt;&lt;/script&gt;
&lt;link rel="stylesheet" type="text/css" href="{{server_url}}/feedback.css"/&gt;

&lt;script type="text/javascript"&gt;
var survey_server_url = '{{server_url}}';
var survey_key = '{{survey.key}}';
&lt;/script&gt;</code></pre>Please make sure that you also have jQuery up and running before loading <i>feedback.js</i>. If not, include this script tag in addition:
<pre><code>&lt;script src="http://code.jquery.com/jquery-1.10.1.min.js">&lt;/script&gt;</code></pre>


        <h3><i class="icon-edit"></i> Add feedback elements</h3>
        <p>
          Choose from our library of elements and add them to your website by putting a corresponding &lt;span&gt; tag in your code. Example for a "vote" element:
          <pre><code>&lt;span class="survey_vote" id="unique_id_for_element"&gt;&lt;/span&gt;</code></pre>
          The <i>id</i> you choose for your elements must be unique for the corrsponding class of elements. Here is a full list of supported feedback elements:

          <table class="table table-striped" style="font-size:1.4em">
            <thead>
            <tr>
                <th style="text-align:right">
                Element type
                </th>
                <th>
                CSS class
                </th>
            </tr>
            </thead>
            <tr>
                <td style="text-align:right">Vote</td>
                <td><pre><code>&lt;span class="survey_vote" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Check</td>
                <td><pre><code>&lt;span class="survey_check" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Rate</td>
                <td><pre><code>&lt;span class="survey_rate" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Input</td>
                <td><pre><code>&lt;span class="survey_input" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
            <tr>
                <td style="text-align:right">Select</td>
                <td><pre><code>&lt;span class="survey_select" id="some_id"&gt;&lt;/span&gt;</code></pre></td>
            </tr>
        </table>

        </p>
        <h3><i class="icon-ok"></i> Open the survey website while logged in</h3>
        <p>
        To initialize and activate the feedback elements, you need to visit the website in which they are embedded once while being logged in as survey admin.
        </p>
        <h3><i class="icon-edit"></i> Customize elements on-the-fly</h3>
        <p>
        When opening the website while being logged in you will be able to edit all elements in-place. You can add descriptions, change default values or add choices.
        </p>
        </div>
      </div>

      <div class="row widget">
        <div class="col-md-12">
        <h2>Advanced Topics</h2>
        

        <h3><a name="access_management">Access Management</a></h3>

        <p>
        You can restrict access to the survey by using <i>response keys</i>. For this, first <a href="/toogle_authorized_keys_only/{{survey.key}}">toggle the permissions</a> to <i>authorized keys only</i>. Now you can define authorized response keys that you can pass out to your respondents: Just give them a URL pointing to your survey site where you append the parameter <strong>?response_key=[your response key]</strong>. Here's an example: <strong>{{server_url}}/welcome?response_key=test</strong>.They will then be authenticated and able to give feedback (the response key is saved in the session so it will be remembered for all subsequent visits). Alternatively, you can set the response key by using Javascript, for this just add <strong>var response_key='[your response key]';</strong>.
        </p>

        </div>
      </div>
{%endblock%}