{% extends "layouts/base.html" %}
{% block title %}Your surveys{% endblock %}

{%block content %}

      <!-- Jumbotron -->
      <div class="row">
        <div class="col-md-12">
            <h2>Your surveys</h2>
            <ul>
            {% if surveys.count() == 0 %}
              So far, you have no surveys. <a href="/new">Why don't you create one?</a>
            {%else%}
              {%for survey in surveys %}
                  <li><a href="/details/{{survey.key}}">{%if survey.name %}{{survey.name}}{%else%}(unnamed){%endif%}</a> (created <strong>{{survey._created_at.date()}})</strong></li>
             {%endfor%}
            {%endif%}
            </ul>
        </div>
      </div>
{%endblock%}