{% extends "layouts/base.html" %}
{% block title %}Your surveys{% endblock %}

{%block content %}

      <!-- Jumbotron -->
      <div class="row widget">
        <div class="col-md-12">
            <h2>Your surveys</h2>
            {% if surveys.count() == 0 %}
              So far, you have no surveys. <a href="/new">Why don't you create one?</a>
            {%else%}
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Created at
                    </th>
                </tr>
              </thead>
              {%for survey in surveys %}
                  <tr>
                    <td><a href="/details/{{survey.key}}">{%if survey.name %}{{survey.name}}{%else%}(unnamed){%endif%}</a>
                    </td> 
                    <td>
                      {{survey._created_at.date()}}
                    </td>
                  </tr>
             {%endfor%}
            </table>
            {%endif%}
        </div>
      </div>
{%endblock%}