{%extends '_field.html' %}
{% block opening %}<div class="survey_field scale" id="scale_{{field_id}}">{%endblock%}
{% block closing %}</div>{%endblock%}

{%block main%}
          {%if show_summary %}
              <div id="scale_{{field_id}}_slider" class="slider"><i class="icon-caret-down"></i></div> 
          {% else %}
              <div id="scale_{{field_id}}_slider" class="slider"><i class="icon-caret-down"></i></div>
          {%endif%}
              <div id="scale_{{field_id}}_gradient" class="gradient"><span>{%if field.left_text%}{{field.left_text}}{%else%}not at all{%endif%}</span><span class="right">{%if field.right_text%}{{field.right_text}}{%else%}very much{%endif%}</span></div>
{%endblock%}
